.element__like
{
    background-color: #fff;
    background-repeat: no-repeat;
    border: none;
    width: 22px;
    height: 22px;
    background-image: url(../../../images/heart.svg);
    background-size:22px 19px;
    margin: auto 3px auto auto;
}
.element__like:hover
{
    opacity: 0.5;
    cursor: pointer;
    /* background-image: url(images/heart-hover.png); */
}
.element__like:active
{
    opacity: 1;
    background-image: url(../../../images/heart-active.png);
}