.profile__button-edit {
  border: 1px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 10px;
  background-color: transparent;
  background-image: url(../../../images/pen.svg);
  height: 24px;
  width: 24px;
  align-self: flex-end;
  position: absolute;
  right: -40px;
  top: 16px;
}
.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .profile__button-edit {
    right: 110px;
  }
}
@media (max-width: 767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    right: 37px;
    top: 34px;
    background-size: auto 7.5px;
  }
}
