.element__like {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 22px;
  background-image: url(../../../images/heart.svg);
  background-size: 22px 19px;
}
.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
.element__like_active {
  opacity: 1;
  background-image: url(../../../images/heart-active.svg);
}
.element__like:active {
  opacity: 1;
  background-image: url(../../../images/heart-active.svg);
}
