.footer
{
    margin: 0 auto;
    max-width: 880px;
    margin-top: 66px;
}
@media (max-width:1023px)
{
    .footer
    {
        padding:0 20px
    }
}
@media (max-width:767px)
{
    {
        margin-top: 54px;
        max-width: 288px;
        margin: 0 auto;
    }
}